:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 44px;
    --footer-height: 70px;
    --radius: 8px;
    --theme: rgb(223, 231, 239);
    --entry: rgb(255, 255, 255);
    --primary: rgb(51, 59, 80);
    --secondary: rgb(231, 233, 238);
    --tertiary: rgb(178, 186, 200);
    --gray: rgb(165, 165, 165);
    --content: rgb(119, 133, 150);
    --code-block-bg: rgb(49, 52, 64);
    --code-bg: rgb(255, 255, 255);
    --border: rgb(238, 238, 238);
    --darkcolor: #cacfdb;
    --lightcolor: #656a70;
    --semibold: 500;
    --homesize: 16px;
    --textsize: 18px;
    --h1size: 25px;
    --entrysize: 15px;
    --headersize: 16px;
    --footersize: 13px;
    --lineheight: 1.45;
    --lineclamp: 8;
    --marginleft: 26px;
}

.dark {
    --theme: rgb(80, 88, 101);
    --entry: rgb(88, 99, 123);
    --primary: rgb(255, 255, 255);
    --secondary: rgb(251, 253, 255);
    --tertiary: rgb(46, 46, 51);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
